.App {
  /*text-align: center;*/
  font-family: Roboto, sans-serif;
  margin: 20px 20% 0px 20%;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  /*grid-template-rows: 160px 1fr;*/
  grid-gap: 15px;
  grid-template-areas:
    "header header"
    "nav main-content";
}

.app-wrapper-content {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}


