.header {
    grid-area: header;
}

.headerContainer {
    grid-area: header;
    text-align: center;
    /*background-color: #e1f3ff;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.topheader {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
}

.logoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.logo {
    /*display: flex;*/
}

.logoWrapper p{
    margin: 0;
}

.logo img {
    align-self: flex-start;
}

.login a {
    background: #ead460;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    color: #656565;
    text-decoration: none;
    font-size: 16px;

}

@media (max-width: 1250px) {
    .logo img {
        display: none;
    }
}
@media (max-width: 885px) {
    .sbWrapper {
        display: none;
    }
    .topheader {
        display: flex;
        justify-content: center;
    }
    .logoWrapper p{
        margin: 0;
        margin-left: 20px;
        font-size: 12px;
    }

}


.sbWrapper {
    /*flex: 1;*/
}

.searchBar {
    display: flex;
    margin-left: 50px;
}

/*.topheader .searchBar {*/
/*    width: 350px;*/
/*}*/

.searchBar textarea {
    border: none;
    border-radius: 50px;
    padding-right: 50px;
    padding-left: 50px;
    resize: none;
    height: 30px;
    text-align: center;
    font-size: 15px;
    background-color: #f8f8f8;

}





.icWrapper {
    display: flex;
}

.topheader .ic {
    color: #acb0ac;
    font-size: 20px;
    align-self: center;
    margin-left: 30px;
}

.topheader img {
    width: 100px;

}

@media (max-width: 885px) {
    .topheader img {
        width: 75px;
        height: auto;
    }
}

.topheader .profileImg {
}

.subheader {
    margin: 20px;
}

.subheader a {
    text-decoration: none;
    /*border-right: 1px solid #c0bebe;*/
    color: #a7aaab;
    transition: box-shadow 200ms ease;
}

.subheader a:hover {
    color: darkseagreen;
}





@media (min-width: 768px) {
    .subheader a{
        font-size: 1.2rem;
        padding: 0.2rem 1rem;
    }
}

/*.searchBar textarea::placeholder {*/
/*    text-align: center;*/
/*}*/









/*.subheader a {*/
/*    background-color: #fff;*/
/*    border: 0 solid #e2e8f0;*/
/*    border-radius: 1.5rem;*/
/*    box-sizing: border-box;*/
/*    color: #0d172a;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    font-family: "Comic Sans MS", sans-serif;*/
/*    line-height: 0.75;*/
/*    padding: 1rem 1.4rem;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    transition: all .1s cubic-bezier(.4, 0, .2, 1);*/
/*    box-shadow: 0 4px 4px #0d172a;*/
/*    user-select: none;*/
/*    -webkit-user-select: none;*/
/*    touch-action: manipulation;*/
/*}*/
