.nav {
    grid-area: nav;
    background-color: #ffffff;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)*/
}

.nav_items {}

.nav_item {
    margin: 25px 0 0 20px;
}

.nav_item a {
    color: #808286;
    text-decoration: none;
    font-size: 20px;
}


.nav_item a.active {
    margin-left: 15px;
}

.nav_item:hover {
    text-decoration: underline;
}


.nav::after {
    font-size: 50px;
}


/*@media screen and (max-width: 987px){*/
/*    .nav {*/
/*        display: none;*/
/*    }*/
/*}*/