.dialog {
    background-color: #ffffff;
    border-bottom: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    width: 100%;


}

.dialog_img {
    order: -1;
    margin-right: 5px;
}

.dialog_img img {
    width: 50px;

}
