

.message {
    display: flex;
    margin-top: 5px;

}

.messageText::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 14px 18px;
    border-color: transparent transparent #e2e8f0 transparent;
    transform: rotate(43deg) translateY(3px) scaleY(0.75); /* Add scaleY for a more smooth effect */
    position: absolute;
    left: -7px;
    top: -3px;

}

.messageTextContainer {
    display: flex;
    background-color: #e2e8f0;
    border-radius: 12px;
    max-width: 50%;
    position: relative;
    /*flex-basis: 50%; !* Takes 50% of the available width within the container *!*/
    padding: 0 0 5px 10px;
    margin-left: 12px;
    margin-top: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.messageText {
    margin-top: 5px;
}

.messageTime {
    align-self: flex-end;
    font-size: 10px;
    color: #78797a;
    margin-right: 5px;
}

.userImg {
    border-radius: 25px;
    background: linear-gradient(rgba(150, 150, 150, 0.1), rgba(150, 150, 150, 0.5));
    box-shadow: 0 3px 4px rgba(131, 138, 131, 0.49);
    width: 50px;
    height: 50px;

}

.userImg img {
    width: 100%;
    height: 100%;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    border-radius: 25px;
}

@media screen and (max-width: 987px){
    .messageTextContainer {
        flex-direction: column;
    }
}